<!-- Publication Section -->
<section id="publication" class="bg-neutral-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <h3 class="section-subheading text-muted">Scientific Articles and Technical Reports.</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-lg-offset-1 text-justify">
                <ol>
                    <li>
                        <p>
                            Faheem Ullah and Ali Babar.
                            <i class="color-highlight">
                                "Architectural tactics for big data
                                cybersecurity analytics
                                systems: a review."
                            </i>
                            Journal of Systems and Software 151 (2019): 81-118.
                            <!-- [<a href="https://ieeexplore.ieee.org/abstract/document/8816739/">Link</ a>] -->
                        </p>
                    </li>
                    <li>
                        <p>
                            Yaser Mansouri, Victor Prokhorenko, and Ali Babar.
                            <i class="color-highlight">
                                "An automated
                                implementation of hybrid cloud for performance evaluation of distributed databases."
                            </i>
                            Journal of Network and Computer Applications 167 (2020): 102740.
                        </p>
                    </li>
                    <li>
                        <p>
                            Faheem Ullah and Muhammad Ali Babar.
                            <i class="color-highlight">
                                "An Architecture-driven
                                Adaptation Approach for Big Data
                                Cyber Security Analytics."
                            </i>
                            2019 IEEE International Conference on Software
                            Architecture
                            (ICSA). IEEE, 2019.
                        </p>
                    </li>
                    <li>
                        <p>Victor Prokhorenko and M. Ali Babar.
                            <i class="color-highlight">"Architectural resilience in
                                cloud, fog and edge systems: A survey."
                            </i>
                            IEEE Access 8 (2020): 28078-28095.
                        </p>
                    </li>
                    <li>
                        <p>
                            Faheem Ullah and M. Ali Babar.
                            <i class="color-highlight">
                                QuickAdapt: Scalable Adaptation for Big Data Cyber Security Analytics.
                            </i>
                            2019 24th International Conference on Engineering of Complex Computer Systems (ICECCS).
                            IEEE, 2019.
                        </p>
                    </li>
                    <li>
                        <p>
                            Yaser Mansouri and M. Ali Babar.
                            <i class="color-highlight">
                                The Impact of Distance on Performance and Scalability of Distributed Database Systems in
                                Hybrid Clouds.
                            </i>
                            arXiv preprint arXiv:2007.15826 (2020).
                        </p>
                    </li>
                    <li>
                        <p>
                            Ullah, Faheem, and M. Ali Babar.
                            <i class="color-highlight">
                                Quantifying the Impact of Design Strategies for Big Data Cyber Security Analytics: An
                                Empirical Investigation.
                            </i>
                            2019 20th International Conference on Parallel and Distributed Computing, Applications and
                            Technologies (PDCAT). IEEE, 2019.
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>